    /* Шрифты */
    @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;700;800&family=News+Cycle&family=Oswald:wght@700&display=swap');

    /* Весь сайт */
    *{
      margin:0;
      padding: 0;
      outline: none;
    }

    body, html{
      width: 100%;
      height: 100%;
    }

    body{
      background-color: #F0EEFF;
      font-family: Trebuchet MS, Halvetica;
    }

    .my_site{
      resize: horizontal;
      width: 100%;
      height: 100%;
      position: relative;
      background: transparent;
    }


    /* Шапка */
    header{
    display: flex;
    width: 100%;
    padding: 10px 0.5% 0px 0.5%;
    background: #FFF;
    float: left;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 180px;
    }

    header #logo{
    cursor: pointer;
    }

    header logo img{
    width: 300px;
    header: 102px;
    flex-shrink: 0;
    }

    @media (min-width: 701px) {
        #logo{
        float: left;
        width: 30%;
        }

        #slogan{
        float: right;
        width: 63%;
        }
    }

    @media (max-width: 700px) {
        #logo{
        margin-top: 15px;
        width: 100%;
        }

        #slogan{
        float: left;
        width: 100%;
        }
    }

    header #slogan{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Oswald;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #A439DB 0%, rgba(205, 39, 165, 0.75) 25%, rgba(191, 30, 185, 0.78) 50%, rgba(143, 0, 255, 0.88) 75%, #DB2193 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    /* Первый блок на главной страницы */

    .banner1{
      width: 100%;
      height: 590px;
      left: 10%;
      top: 210px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      background-size: 450px;
    }

    .bloc1{
      width: 100%;
      height: 590px;
      left: 0px;
      top: 0px;
      position: absolute;
      background: #F0EEFF;
    }

    .bloc1_foto_podobat{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    #foto{
      width: 404px;
      height: 534px;
      left: 400px;
      top: 28px;
      position: absolute;
      padding: 0px 77px 10% 0px;
      margin: 0px 0px 0px 50%;
    }

    #podobrat{
      width: 734px;
      height: 394px;
      left: 10%;
      top: 98px;
      position: absolute;
    }

    .button1{
      width: 582px;
      height: 72px;
      left: 36px;
      top: 280px;
      position: absolute;
    }

    .background_button1{
      width: 582px;
      height: 72px;
      left: 0px; top:
      0px; position: absolute;
      background: #DB2193;
      border-radius: 50px;
    }

    .text_button1{
      left: 103px;
      top: 18px;
      position: absolute;
      color: white;
      font-size: 30px;
      font-family: Montserrat Alternates;
      font-weight: 700;
      text-transform: uppercase;
      word-wrap: break-word;
    }

    .icon_button1{
      width: 48px;
      height: 49px;
      left: 38px;
      top: 12px;
      position: absolute;
    }

    .form_podobrat_icon_pris{
      width: 174px;
      height: 182px;
      left: 525px;
      top: 50px;
      position: absolute;
    }

    .form_podobrat{
      width: 734px;
      height: 394px;
      left: 0px;
      top: 0px;
      position: absolute;
      mix-blend-mode: overlay;
      background: #ECC9DF;
      border-radius: 50px;
    }

    .form_podobrat_text{
      width: 663px;
      left: 36px;
      top: 35px;
      position: absolute;
      color: #A439DB;
      font-size: 48px;
      font-family: Oswald;
      font-weight: 700;
      text-transform: uppercase;
      word-wrap: break-word;
    }

    /* Разделение 1 */

   .separation_1{
     width: 100%;
     height: 18px;
     left: 0px;
     top: 800px;
     position: absolute;
     background: white;
   }

   /* Втоорой блок на главной страницы */

   .banner2{
     width: 100%;
     height: 734px;
     left: 0px;
     top: 800px;
     position: absolute;
   }

   .bloc2{
     width: 100%;
     height: 734px;
     left: 0px;
     top: 0px;
     position: absolute;
     background: #F0EEFF;
   }

   .button2{
     width: 582px;
     height: 72px;
     left: 412px;
     top: 608px;
     position: absolute;
   }

   .background_button2{
     width: 582px;
     height: 72px;
     left: 0px;
     top: 0px;
     position: absolute;
     background: #DB2193;
     border-radius: 50px;
   }

   .button2_text{
     width: 511px;
     left: 40px;
     top: 18px;
     position: absolute;
     text-align: center;
     color: white;
     font-size: 30px;
     font-family: Montserrat Alternates;
     font-weight: 700;
     text-transform: uppercase;
     word-wrap: break-word;
   }

   .bloc2_bloc_primer{
     width: 1229px;
     height: 313px;
     left: 124px;
     top: 208px;
     position: absolute;
   }

   .bloc2_bloc_primer4{
     width: 250px;
     height: 309px;
     left: 979px;
     top: 0px;
     position: absolute;
   }

   .bloc2_bloc_primer4_text{
     width: 250px;
     left: 0px;
     top: 258px;
     position: absolute;
     color: black;
     font-size: 14px;
     font-family: Montserrat Alternates;
     font-weight: 500;
     text-transform: uppercase;
     word-wrap: break-word;
   }

   .bloc2_bloc_primer4_foto{
     width: 250px;
     height: 250px;
     left: 0px;
     top: 0px;
     position: absolute;
   }

   .bloc2_bloc_primer3{
     width: 254px;
     height: 313px;
     left: 650px;
     top: 0px;
     position: absolute;
   }

   .bloc2_bloc_primer3_text{
     width: 250px;
     left: 0px;
     top: 262px;
     position: absolute;
     color: black;
     font-size: 14px;
     font-family: Montserrat Alternates;
     font-weight: 500;
     text-transform: uppercase;
     word-wrap: break-word;
   }

   .bloc2_bloc_primer3_foto{
     width: 254px;
     height: 250px;
     left: 0px;
     top: 0px;
     position: absolute;
   }

   .bloc2_bloc_primer2{
     width: 250px;
     height: 292px;
     left: 334px;
     top: 0px;
     position: absolute;
   }

   .bloc2_bloc_primer2_text{
     width: 250px;
     left: 0px;
     top: 258px;
     position: absolute;
     color: black;
     font-size: 14px;
     font-family: Montserrat Alternates;
     font-weight: 500;
     text-transform: uppercase;
     word-wrap: break-word;
   }

   .bloc2_bloc_primer2_foto{
     width: 250px;
     height: 248px;
     left: 0px;
     top: 0px;
     position: absolute;
   }

   .bloc2_bloc_primer1{
     width: 250px;
     height: 313px;
     left: 0px;
     top: 0px;
     position: absolute;
   }

   .bloc2_bloc_primer1_text{
     width: 250px;
     left: 0px;
     top: 262px;
     position: absolute;
     color: black;
     font-size: 14px;
     font-family: Montserrat Alternates;
     font-weight: 500;
     text-transform: uppercase;
     word-wrap: break-word;
   }

   .bloc2_bloc_primer1_foto{
     width: 250px;
     height: 248.29px;
     left: 0px;
     top: 0px;
     position: absolute;
   }

   .banner2_zagolovok{
     width: 840px;
     left: 320px;
     top: 84px;
     position: absolute;
     text-align: center;
     color: #A439DB;
     font-size: 48px;
     font-family: Oswald;
     font-weight: 700;
     text-transform: uppercase;
     word-wrap: break-word
   }

    /* Разделение 2 */

   .separation_2{
     width: 100%;
     height: 18px;
     left: 0px;
     top: 1534px;
     position: absolute;
     background: white
   }

   /* Второй блок на главной страницы */

   .banner3{
     width: 100%;
     height: 734px;
     left: 0px;
     top: 1530px;
     position: absolute;
   }

   .bloc3{
     width: 1276px;
     height: 564px;
     left: 104px;
     top: 80px;
     position: absolute;
     background: white;
     border-radius: 50px;
   }

   .button3{
     width: 582px;
     height: 72px;
     left: 412px;
     top: 530px;
     position: absolute;
   }

   .background_button3{
     width: 582px;
     height: 72px;
     left: 0px;
     top: 0px;
     position: absolute;
     background: #DB2193;
     border-radius: 50px;
   }

   .button3_text{
     width: 511px;
     left: 41px;
     top: 14px;
     position: absolute;
     text-align: center;
     color: white;
     font-size: 36px;
     font-family: Montserrat Alternates;
     font-weight: 700;
     text-transform: uppercase;
     word-wrap: break-word;
   }

   .bloc3_bloc_work{
     width: 1102px;
     height: 179px;
     left: 212px;
     top: 282px;
     position: absolute;
   }

   .bloc3_bloc_work_3{
     width: 320px;
     height: 179px;
     left: 782px;
     top: 0px;
     position: absolute;
   }

   .circle3{
     width: 50px;
     height: 50px;
     left: 0px;
     top: 0px;
     position: absolute;
     background: #DB2193;
     border-radius: 9999px;
   }

   .bloc3_bloc_work_text3{
     width: 319px;
     left: 1px;
     top: 80px;
     position: absolute;
     color: black;
     font-size: 20px;
     font-family: News Cycle;
     font-weight: 400;
     word-wrap: break-word;
   }

   .circle3_num3{
     width: 34px;
     height: 44px;
     left: 8px;
     top: 0px;
     position: absolute;
     text-align: center;
     color: white;
     font-size: 32px;
     font-family: Oswald;
     font-weight: 400;
     text-transform: uppercase;
     word-wrap: break-word;
   }

   .bloc3_zagolovok_3{
     left: 78px;
     top: 12px;
     position: absolute;
     text-align: center;
     color: black;
     font-size: 20px;
     font-family: Montserrat Alternates;
     font-weight: 700;
     text-transform: uppercase;
     word-wrap: break-word;
   }

   .bloc3_bloc_work_2{
     width: 319px;
     height: 179px;
     left: 391px;
     top: 0px;
     position: absolute;
   }

   .circle2{
     width: 50px;
     height: 50px;
     left: 0px;
     top: 0px;
     position: absolute;
     background: #DB2193;
     border-radius: 9999px;
   }

   .bloc3_bloc_work_text2{
     width: 319px;
     left: 0px;
     top: 80px;
     position: absolute;
     color: black;
     font-size: 20px;
     font-family: News Cycle;
     font-weight: 400;
     word-wrap: break-word;
   }

   .circle2_num2{
     width: 34px;
     height: 44px;
     left: 8px;
     top: 0px;
     position: absolute;
     text-align: center;
     color: white;
     font-size: 32px;
     font-family: Oswald;
     font-weight: 400;
     text-transform: uppercase;
     word-wrap: break-word;
   }

   .bloc3_zagolovok_2{
     left: 70px;
     top: 12px;
     position: absolute;
     text-align: center;
     color: black;
     font-size: 20px;
     font-family: Montserrat Alternates;
     font-weight: 700;
     text-transform: uppercase;
     word-wrap: break-word;
   }

   .bloc3_bloc_work_1{
     width: 319px;
     height: 179px;
     left: 0px;
     top: 0px;
     position: absolute;
   }

   .bloc3_bloc_work_text1{
     width: 319px;
     left: 0px;
     top: 80px;
     position: absolute;
     color: black;
     font-size: 20px;
     font-family: News Cycle;
     font-weight: 400;
     word-wrap: break-word;
   }

   .circle1{
     width: 50px;
     height: 50px;
     left: 0px;
     top: 0px;
     position: absolute;
     background: #DB2193;
     border-radius: 9999px;
   }

   .bloc3_zagolovok_1{
     left: 71px;
     top: 7px;
     position: absolute;
     text-align: center;
     color: black;
     font-size: 20px;
     font-family: Montserrat Alternates;
     font-weight: 700;
     text-transform: uppercase;
     word-wrap: break-word;
   }

   .circle2_num1{
     width: 34px;
     height: 44px;
     left: 8px;
     top: 0px;
     position: absolute;
     text-align: center;
     color: white;
     font-size: 32px;
     font-family: Oswald;
     font-weight: 400;
     text-transform: uppercase;
     word-wrap: break-word;
   }

   .banner3_zagolovok{
     width: 840px;
     height: 71px;
     left: 283px;
     top: 112px;
     position: absolute;
   }

   .banner3_zagolovok_text{
     width: 840px;
     left: 0px;
     top: 0px;
     position: absolute;
     text-align: center;
     color: #A439DB;
     font-size: 48px;
     font-family: Oswald;
     font-weight: 700;
     text-transform: uppercase;
     word-wrap: break-word;
   }

   .banner3_zagolovok_icon{
     width: 65px;
     height: 68px;
     left: 654px;
     top: 1px;
     position: absolute;
   }











