@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
@import url("https://fonts.googleapis.com/css?family=Oswald:700|Montserrat+Alternates:500");

.foto-banner {
  display: flex;
  flex-direction: column;
  height: 900px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}

.foto-banner .header {
  position: relative;
  width: 1482px;
  margin-top: -9px;
  margin-left: -6px;
  margin-right: -8px;
  background-color: transparent;
}

.foto-banner .overlap-group {
  height: 234px;
  background-color: #ffffff;
  position: relative;
  width: 1480px;
}

.foto-banner .slogan {
  position: absolute;
  height: 79px;
  top: 77px;
  left: 402px;
  background: linear-gradient(
    180deg,
    rgb(164.24, 57.45, 218.88) 0%,
    rgba(205.31, 39.11, 164.97, 0.75) 25%,
    rgba(191.21, 30.29, 185.27, 0.78) 50%,
    rgba(142.8, 0, 255, 0.88) 75%,
    rgb(219, 33, 147) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Oswald", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.foto-banner .logo {
  position: absolute;
  width: 300px;
  height: 114px;
  top: 53px;
  object-fit: cover;
}

.foto-banner .banner {
  position: relative;
  width: 1488px;
  height: 660px;
  margin-left: -6px;
  margin-right: -14px;
}

.foto-banner .overlap {
  height: 2153px;
  background-color: #efeeff;
  position: relative;
  width: 1480px;
}

.foto-banner .element {
  top: 311px;
  left: 755px;
  font-family: "Montserrat Alternates", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 20px;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.foto-banner .text-wrapper {
  color: #000000;
}

.foto-banner .span {
  color: #db2193;
}

.foto-banner .div {
  top: 373px;
  left: 755px;
  font-family: "Montserrat Alternates", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 20px;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.foto-banner .p {
  top: 249px;
  left: 755px;
  font-family: "Montserrat Alternates", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 20px;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.foto-banner .img {
  width: 620px;
  height: 620px;
  left: 48px;
  object-fit: cover;
  position: absolute;
  top: 24px;
}

.foto-banner .element-2 {
  width: 735px;
  left: 704px;
  font-family: "Montserrat Alternates", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24px;
}

.foto-banner .image {
  top: 305px;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 704px;
  object-fit: cover;
}

.foto-banner .image-2 {
  top: 243px;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 704px;
  object-fit: cover;
}

.foto-banner .image-3 {
  top: 362px;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 704px;
  object-fit: cover;
}

.foto-banner .view {
  position: absolute;
  width: 252px;
  height: 72px;
  top: 516px;
  left: 940px;
}

.foto-banner .div-wrapper {
  position: relative;
  width: 250px;
  height: 72px;
  background-color: #db2193;
  border-radius: 50px;
}

.foto-banner .text-wrapper-2 {
  width: 220px;
  top: 10px;
  left: 18px;
  font-family: "Oswald", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.bt{
  position: absolute;
  width: 252px;
  height: 72px;
}

.gla_button{
  position: absolute;
  width: 300px;
  height: 102px;
  top: 48px;
  object-fit: cover;
  cursor: pointer;
}
